services:
  - type: web
    name: quiz-application
    env: docker
    plan: free
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 8083
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_NAME
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
